```{=html}
<table class="resourcelist list">
<tr><th>Link</th><th>Author</th><th>Description</th><th>Rating</th><th>Rate this</th></tr>
<% for (const item of items) { %>
  <tr class="resourceinfo" <%= metadataAttrs(item) %>>
    <td><a href="<%= item.path %>"><%= item.title %></a></td>
    
    <td><%= item.author %></td>
    
    <!--
    <td>
    <% if (item.image) { %>
    <img src="<%- item.image %>">
    <% } %>
    </td>
    -->
    
    <td><%= item.description %></td>
    
    <td>
      <span class="star-rating" data-id="<%= item.path %>"><span>
    </td> <td>
      <div class="rating-widget" 
             data-id="<%= item.path %>">
      <span class="star" data-value="1">&#9733;</span>
      <span class="star" data-value="2">&#9733;</span>
      <span class="star" data-value="3">&#9733;</span>
      <span class="star" data-value="4">&#9733;</span>
      <span class="star" data-value="5">&#9733;</span>
    </div></td>
  </tr>
<% } %>
</table>
```